---
import Layout from "../layouts/layout.astro";
import FaqsContent from "../components/faqs-content";
---

<Layout>
  <section>
    <div class="max-w-screen-xl mx-auto py-24 px-4 md:px-8">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4"
      >
        Frequently Asked Questions
      </h1>
      <FaqsContent client:only />
    </div>
  </section>
</Layout>
