---
import { Image } from "astro:assets";
import Layout from "../layouts/layout.astro";

import Image1 from "../assets/images/gallery/1-Ang6x6-300_600.jpg";
import Image2 from "../assets/images/gallery/10-Shoes-6x6-300_600.jpg";
import Image3 from "../assets/images/gallery/11-Zoo6x6-300_600.jpg";
import Image4 from "../assets/images/gallery/12-Slug-6x6-300_600.jpg";
import Image5 from "../assets/images/gallery/13-hum6x6-300_600.jpg";
import Image6 from "../assets/images/gallery/15-jeep6x6-300_600.jpg";
import Image7 from "../assets/images/gallery/2-An6x6-300_600.jpg";
import Image8 from "../assets/images/gallery/20170325_162744_d600.jpg";
import Image9 from "../assets/images/gallery/20170325_162937_d600.jpg";
import Image10 from "../assets/images/gallery/Leaf-cup_d800.jpg";
import Image11 from "../assets/images/gallery/3-Celt6x6-300_600.jpg";
import Image12 from "../assets/images/gallery/4-Daf6x6-300_600.jpg";
import Image13 from "../assets/images/gallery/5-Duck6x6-300_600.jpg";
import Image14 from "../assets/images/gallery/6-Flow6x6-300_600.jpg";
import Image15 from "../assets/images/gallery/7-HT6x6-300_600.jpg";
import Image16 from "../assets/images/gallery/8-JC-6X6300_600.jpg";
import Image17 from "../assets/images/gallery/9-Maria-6x6-300_600.jpg";
import Image18 from "../assets/images/gallery/Bottandsons-Giraff_d600.jpg";
import Image19 from "../assets/images/gallery/Bottandsons_d600.jpg";
import Image20 from "../assets/images/gallery/Brown-Monument.jpg";
import Image21 from "../assets/images/gallery/Charley-copy_d800.jpg";
import Image22 from "../assets/images/gallery/Coal-Mining-Machine1_d600.png";
import Image23 from "../assets/images/gallery/1-bb-Bench-copy_d600.png";
import Image24 from "../assets/images/gallery/Coke_d600.jpg";
import Image25 from "../assets/images/gallery/Dalton-1lg_d800.jpg";
import Image26 from "../assets/images/gallery/Dalton-buttons-cut-clouse-up_d600.jpg";
import Image27 from "../assets/images/gallery/Dance-copy_d600.jpg";
import Image28 from "../assets/images/gallery/Diamond_d600.jpg";
import Image29 from "../assets/images/gallery/Dimaod1190-445_d800.jpg";
import Image30 from "../assets/images/gallery/Finished-heartsm_d600.jpg";
import Image31 from "../assets/images/gallery/Jenkins-1crop_d800.jpg";
import Image32 from "../assets/images/gallery/Jenkins-4_d600.jpg";
import Image33 from "../assets/images/gallery/Kenw1B_d600.jpg";
import Image34 from "../assets/images/gallery/Mary-flat_d800.jpg";
import Image35 from "../assets/images/gallery/Petroff-Hansgen-3_d800.jpg";
import Image36 from "../assets/images/gallery/Rose_d600.jpg";
import Image37 from "../assets/images/gallery/Ruby-slipper_d600.png";
import Image38 from "../assets/images/gallery/Sample-001-Sml_d800.jpg";
import Image39 from "../assets/images/gallery/Sample-002-Sml_d800.jpg";
import Image40 from "../assets/images/gallery/Sample-003-Sml_d800.jpg";
import Image41 from "../assets/images/gallery/Sample-004-Sml_d800.jpg";
import Image42 from "../assets/images/gallery/Sample-008-Sml_d800.jpg";
import Image43 from "../assets/images/gallery/Springfield_d800.jpg";
import Image44 from "../assets/images/gallery/Stewart-Amy---Chad---Monument-5-Edit_d600.jpg";
import Image45 from "../assets/images/gallery/Tomy-blue_d800.jpg";
import Image46 from "../assets/images/gallery/Train-wet-image2-copy_d600.jpg";
import Image47 from "../assets/images/gallery/Train2-copy_d600.jpg";
import Image48 from "../assets/images/gallery/Troud_d600.jpg";
import Image49 from "../assets/images/gallery/Welcome-sep_d800.jpg";
import Image50 from "../assets/images/gallery/Zoo3_d600.jpg";
import Image51 from "../assets/images/gallery/cancer-copy_d800.jpg";
import Image52 from "../assets/images/gallery/coke2_d600.jpg";
import Image53 from "../assets/images/gallery/montague-back-2croped_d600.jpg";
import Image54 from "../assets/images/gallery/schaugaard-mms_d600.jpg";

const images = [
  Image1,
  Image2,
  Image3,
  Image4,
  Image5,
  Image6,
  Image7,
  Image8,
  Image9,
  Image10,
  Image11,
  Image12,
  Image13,
  Image14,
  Image15,
  Image16,
  Image17,
  Image18,
  Image19,
  Image20,
  Image21,
  Image22,
  Image23,
  Image24,
  Image25,
  Image26,
  Image27,
  Image28,
  Image29,
  Image30,
  Image31,
  Image32,
  Image33,
  Image34,
  Image35,
  Image36,
  Image37,
  Image38,
  Image39,
  Image40,
  Image41,
  Image42,
  Image43,
  Image44,
  Image45,
  Image46,
  Image47,
  Image48,
  Image49,
  Image50,
  Image51,
  Image52,
  Image53,
  Image54,
];
---

<Layout>
  <section class="grow">
    <div class="max-w-screen-xl px-4 md:px-8 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4"
        >
          Gallery
        </h1>
        <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">
          We custom fuse a ¼ inch thick, multi-layered, glass ingot. This glass
          piece gets cut, shaped, fire polished, and annealed to ensure a
          perfect fit and finish. The finished result is an inlay that is up to
          200 times harder than regular glass. The glass gets installed flush
          with the granite surface and then finished with a cement based grout.
          The finished product is as strong as sandblasted granite itself.{" "}
          <span class="font-bold">
            We sell a method of permanent color, not a particular style. We work
            hard to produce any type of design and strive to maintain the
            essence of the original artwork.
          </span>
        </p>
      </div>
      <div class="max-w-screen-xl w-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          {
            images.map((image, index) => (
              <div class="overflow-hidden h-[300px] flex items-center">
                <Image
                  src={image}
                  alt={`Glass Inlay ${index}`}
                  class="w-full h-full object-cover"
                  loading={index < 9 ? "eager" : "lazy"}
                />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
